/*CSS-Reset*/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}


header {
    background-color: rgb(210, 60, 60);
    height: 50px;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;

}

a {
    text-decoration: none;
    color: rgb(200, 180, 25);
}

button {
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;   
}

/* SIDE-BAR */
.navs {
    padding-top: 15px;
}
.nav {
    width: 200px;
    height: 60px;

    background-color: rgb(102, 0, 102);
    color: rgb(200, 180, 25);

    
    font-style: italic;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid;
    border-radius: 15px;
}
.pages:hover {
    background-color: rgb(204, 0, 204);
}

.expnav {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}
#leveldiv, #expdiv{
    color: darkorange;
}
.coinsNav{
    display: flex;
    justify-content: flex-start;
}
#coinImg {
    width: 50px;
    padding-left: 10px;
    padding-top: 5px;
}
.spanCoinDiv{
    padding-left: 15px;
}
#coinSpan {
    color: darkorange;
}
.outoforder {
    background-color: rgb(71, 71, 107);
}
.outoforder:hover{
    background-color: rgb(71, 71, 107);
}

/* Das grüne Hauptfenster */
main {
    display: flex;
    flex-direction: row;
}

.mainwindow {
    border: solid;
    border-radius: 5%;
    max-height: 30rem;
    min-width: 30rem;
    max-width: 30rem;
    background-color: rgb(147, 202, 170);
    margin-left: 5px;
    margin-top: 2%;
    border-color: rgb(200, 180, 25);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.faqText{
    text-align: center;
    padding-top: 10% ;
}


/* Character Select */
.charselectPic {
    height: 180px;
    border-radius: 30%;
}
.charselect{
    border-left: 0px solid;
    padding-left: 10px;
    color: azure;
    font-style: italic;
    font-weight: 700;
    border-radius: 20px;
    background-color: rgb(210, 60, 60);
    width: 13rem;
    height: 230px;
}
.charselectDiv {
    padding-top: 5%;
    display: inline-block;
    padding-left: 43%;
}
#charSelectButton {
    margin-top: 4%;
    margin-left: 30%;
}
/* Character und Monster Bild */
#setimg{
    border: solid;
    border-color: rgb(210, 60, 60);
    border-radius: 20%;
}
#setenemyimg{
    border: solid;
    border-color: rgb(210, 60, 60);
    border-radius: 20%;
    
}
/* .dungeons{
    
} */

.dungeon{  
    height: 14rem;
    width: 13rem;
}
.dungeon1, .dungeon2{
    height: 10rem;
    width: 13rem;
}

.dungeontext{
    height: 3rem;
    width: 13rem;
    background-color: rgb(7, 170, 89);
    font-style: italic;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 5px;
}

.dungeontext2{
    background-color: rgb(12, 19, 15);
    color: azure;
}

.dungeoncenter{
justify-content: center;
}
/* In fight */
.fightmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fightOutput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.fightbutton {
    margin-top: 20px;
    margin-bottom: 20px;
}
.outputcss{
    width: 200px;
    text-align: center;
}

/* no copy pase */
p{ 
    user-select: none;  
}

#faq{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

