/*CSS-Reset*/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}

header {
    background-color: rgb(210, 60, 60);
    height: 50px;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;

}

.login {
    height: 200px;
    width: 200px;
    margin-top: 40px;
    background-color: azure;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    align-self: center;

    border-radius: 10px;
}

.logindata {
    color: black;
}

button {
    color: black;
}

/* SIDE-BAR */
.navs {
    padding-top: 15px;
}
.nav {
    width: 200px;
    height: 60px;

    background-color: rgb(90, 60, 170);
    color: rgb(200, 180, 25);

    
    font-style: italic;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: rgb(200, 180, 25);
}

.expnav {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.mainwindow {
    min-height: 30rem;
    min-width: 30rem;
    background-color: rgb(147, 202, 170);
    padding: 1rem;
    margin: 1rem;
}

main {
    display: flex;
    flex-direction: row;
}

#faq{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

#loginbutton, button{
    background-color: rgb(210, 60, 60);
    color: rgb(252, 252, 252);
    font-size: 1rem;
    margin: 5px;
    padding: 5px;
}

.outputOverview{
    text-align: center;
}

.dungeons{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.dungeon{
    height: 13rem;
    width: 13rem;
    background-color: brown;
}

.dungeon1, .dungeon2{
    height: 10rem;
    width: 13rem;
    background-color: antiquewhite;
}

.dungeontext{
    height: 3rem;
    width: 13rem;
    background-color: rgb(7, 170, 89);

    font-style: italic;
    font-size: 1rem;
    font-weight: 700;
    
    text-align: center;
    padding-top: 5px;
}

.dungeontext2{
    background-color: rgb(12, 19, 15);
    color: azure;
}

.dungeoncenter{
justify-content: center;
}

.charselect{
    border-left: 2px solid;
    padding-left: 10px;
    color: azure;
    font-style: italic;
    font-weight: 700;

}

.fightmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fightOutput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.outputcss{
    width: 200px;
    text-align: center;
}

/* no copy pase */
p{ 
    user-select: none;  
}